# development@v2
NODE_ENV="development"
CMS_ENDPOINT= <Endpoint for cms>
CMS_API_KEY= <API Key for cms>

AUTH_ENDPOINT= <AUTH Endpoint>
LOCALE_ENDPOINT= <LOCALE Endpoint>

PORT= <Default run 3000>

INFISICAL_TOKEN= <INFISICAL TOKEN>
INFISICAL_URL=https://env.ucconnect.co.th